#Page_zwa64m {
	background-color:rgba(255,255,255,1);
}
#HeaderBox_LSC334 {
	padding:2.63em 0em 0em 0em;
	background-color:rgba(255,255,255,1);
	color:rgba(0,0,0,1);
}
#Box_upz1Tn {
	padding:3.13em 0em 0em 0em;
	margin:0em 0em 0em 0em;
	color:rgba(0,0,0,1);
}
#Icon_FQbZZF {
	height:7.75em;
	left:0em;
	top:-2.50em;
	background-image:url(../css/res/logo.png);
	margin:0em 3.75em 0em 3.75em;
}
#iconInput_M4x4zs {
	margin:0em 1.56em 1.56em 1.56em;
	border-style:solid;
	border-color:rgba(199,194,194,1);
	border-radius:5px;
	font-size:1em;
}
#iconInput_bbbexO {
	margin:0em 1.56em 1.56em 1.56em;
	border-style:solid;
	border-color:rgba(199,194,194,1);
	border-radius:5px;
	font-size:1em;
}
#Button_kDckeE {
	margin:0em 1.56em 0em 1.56em;
	border-radius:5px;
	font-size:1em;
}
#Header_WiiKTy {
	background-color:rgba(0,161,234,1);
	color:rgba(255,255,255,1);
}
.checkboxmima{
    float:left;
    padding-left: 3em;
}
.wjmima{
    float: right;
    padding-right: 3em;
}
